export(calcNumRejects,catEffectBootAdaptor,compExclusionFraction,
compPowerGeneralRespDetection,compPowerRespDetection,compRejectionFraction,simCatResp,
simNormCatResp,testCatEffectBoot,compPowerCatSelectivity)